@charset "utf-8";
/* CSS Document */

.clear{font-size:0px;line-height:0px;clear:both;}
.box{font-size:12px; }
.box_top_left,.box_top_center,.box_top_right,.box_title_left,.box_title_right,.box_title_info,.box_main_left,.box_main_right,.box_bottom_left,.box_bottom_center,.box_bottom_right,.box_bottom_left,.box_bottom_center,.box_bottom_right,.box_buttons_right,.box_buttons_left {overflow:hidden;}

/* 顶部阴影 */
.box_top_left {background:url(images/ubg.png) 0 -44px no-repeat;overflow:hidden;font-size:0px;width:6px;height:6px;float:left;}
.box_top_center {background:url(images/ubg.png) left 0 repeat-x;overflow:hidden;font-size:0px;height:6px;float:left;}
.box_top_right {background:url(images/ubg.png) -63px -44px no-repeat;overflow:hidden;font-size:0px;width:6px;height:6px;float:left;}

/*title style*/
.box_title_left {background:url(images/ubg.png) 0 -51px no-repeat;overflow:hidden;width:6px;height:24px;float:left}
.box_title {background:url(images/ubg.png) 0 -7px repeat-x;height:24px;float:left;}/* 弹出层的标题框 */
.box_title .box_title_info {height:24px;line-height:18px;font-size:12px;color:#fff;float:left;margin-left:4px;}
.box_title .box_title_buttons {float:right;width:auto;height:15px;position:relative;}
.box_title .box_title_buttons a.box_title_close{background:url(images/ubg.png) 0 -95px no-repeat;overflow:hidden;width:50px;height:20px;float:right;position:absolute;top:-5px;right:0px;}
.box_title .box_title_buttons a:hover.box_title_close {background:url(images/ubg.png) -50px -95px no-repeat;}
.box_title .box_title_buttons a, .box_title .box_title_buttons a:link,.box_title .box_title_buttons a:visited{display:block;float:right;text-decoration:none;cursor:pointer;}
.box_title_right {background:url(images/ubg.png) -63px -51px no-repeat;overflow:hidden;font-size:0px;width:6px;height:24px;float:left;}

/* 中间部分 */
.box_main_left {background:url(images/body_left.png) left repeat-y;float:left;width:6px;font-size:0px;height:auto;}
.box_main{background-color:#FFFFFF;float:left; padding:0px;overflow: auto;}/*  中间部分 此处的结构margin是在程序中写定的,指定后也不会生效 */
.box_main .box_content{background-color:#FFFFFF; margin:5px;_display:inline;}/* 中间内容部分 */
.box_main_right{background:url(images/body_right.png) repeat-y right;float:left; width:6px; font-size:0px;}

/* 下面按钮部分 */
.box_buttons_left {background:url(images/body_left.png) left repeat-y;float:left;width:6px;font-size:0px;}
.box_buttons{height:32px;text-align:center;white-space:nowrap;bottom:0px;float:left;background-color:#FFFFFF;}/* 按钮部分 */
.box_buttons button {background:url(images/ubg.png) -7px -69px no-repeat;width:55px;height:25px;text-align:center;line-height:22px;border:none;cursor:pointer;color:#333;margin:5px;}
.box_buttons button:hover {background:url(images/ubg.png) -7px -44px no-repeat;color:#fff;}
.box_buttons_right{float:left;width:6px;background:url(images/body_right.png) left repeat-y;font-size:0px;}
.box_loading{width:96px; height:32px; text-align:left; padding-left:20px; padding-top:15px; overflow:hidden; background:url(icons/loading.gif) no-repeat left center;}

/* 底部阴影 */
.box_bottom_left {background:url(images/ubg.png) 0 -81px no-repeat;overflow:hidden;width:6px;height:6px;float:left}
.box_bottom_center {background:url(images/ubg.png) left -37px repeat-x;overflow:hidden;font-size:0;height:6px;float:left}
.box_bottom_right {background:url(images/ubg.png) 0 -88px no-repeat;overflow:hidden;width:6px;height:6px;cursor:se-resize;float:left;}