@charset "utf-8";
/* CSS Document */

.clear{font-size:0px;line-height:0px;clear:both;}
.box{font-size:12px; }
.box_top_left,.box_top_center,.box_top_right,.box_title_left,.box_title_right,.box_title_info,.box_main_left,.box_main_right,.box_bottom_left,.box_bottom_center,.box_bottom_right,.box_bottom_left,.box_bottom_center,.box_bottom_right,.box_buttons_right,.box_buttons_left {overflow:hidden;}

/* 顶部阴影 */
.box_top_left {background:url(images/ubg.png) 0 -87px no-repeat;overflow:hidden;font-size:0px;width:20px;height:20px;float:left;}
.box_top_center {background:url(images/ubg.png) left 0 repeat-x;overflow:hidden;font-size:0px;height:20px;float:left;}
.box_top_right {background:url(images/ubg.png) -25px -87px no-repeat;overflow:hidden;font-size:0px;width:20px;height:20px;float:left;}

/*title style*/
.box_title_left {background:url(images/ubg.png) -75px -87px no-repeat;overflow:hidden;width:20px;height:32px;float:left}
.box_title {background:url(images/ubg.png) 0 -50px repeat-x;height:32px;float:left;}/* 弹出层的标题框 */
.box_title .box_title_info {height:32px;line-height:20px;font-size:12px;color:#444;float:left;margin-left:4px;}
.box_title .box_title_buttons {float:right;width:auto;height:15px;position:relative;}
.box_title .box_title_buttons a.box_title_close{background:url(images/ubg.png) 0 -137px no-repeat;overflow:hidden;width:23px;height:23px;float:right;position:absolute;top:-2px;right:0px;}
.box_title .box_title_buttons a:hover.box_title_close {background:url(images/ubg.png) -28px -137px no-repeat;}
.box_title .box_title_buttons a, .box_title .box_title_buttons a:link,.box_title .box_title_buttons a:visited{display:block;float:right;text-decoration:none;cursor:pointer;}
.box_title_right {background:url(images/ubg.png) -50px -87px no-repeat;overflow:hidden;font-size:0px;width:20px;height:32px;float:left;}

/* 中间部分 */
.box_main_left {background:url(images/body_left.png) left repeat-y;float:left;width:20px;font-size:0px;height:auto;}
.box_main{background-color:#fff;float:left; padding:0px;overflow-x:hidden;overflow-y: auto;zoom:1;}/*  中间部分 此处的结构margin是在程序中写定的,指定后也不会生效 */
.box_main .box_content{background-color:#fff;margin:5px;_display:inline;font-size: 12px;}/* 中间内容部分 */
.box_main_right{background:url(images/body_right.png) repeat-y right;float:left; width:20px; font-size:0px;}

/* 下面按钮部分 */
.box_buttons_left {background:url(images/body_left.png) left repeat-y;float:left;width:20px;font-size:0px;}
.box_buttons{height:31px;text-align:center;white-space:nowrap;bottom:0px;float:left;background-color:#fff;}/* 按钮部分 */
.box_buttons button {width:100px;height:31px;text-align:center;line-height:31px;border:none;cursor:pointer;margin: 0 5px;color: #222;font-size: 12px;}
.box_buttons button.box_button_focus {background:url(images/ubg.png) 0 -165px no-repeat;color:#fff;}
.box_buttons button:hover {font-weight:600;}
.box_buttons_right{float:left;width:20px;background:url(images/body_right.png) left repeat-y;font-size:0px;}
.box_loading{width:96px; height:32px; text-align:left; padding-left:20px; padding-top:15px; overflow:hidden; background:url(icons/loading.gif) no-repeat left center;}

/* 底部阴影 */
.box_bottom_left {background:url(images/ubg.png) 0 -112px no-repeat;overflow:hidden;width:20px;height:20px;float:left}
.box_bottom_center {background:url(images/ubg.png) left -25px repeat-x;overflow:hidden;font-size:0;height:20px;float:left}
.box_bottom_right {background:url(images/ubg.png) -25px -112px no-repeat;overflow:hidden;width:20px;height:20px;cursor:se-resize;float:left;}